.MenuLink {
    border-bottom-color: #fff !important;
    color: #000 !important;
}
.MenuLink:hover {
    border-bottom-color: #000 !important;
    color: #000 !important;
}

.active .MenuLink {
    border-bottom-color: #000 !important;
}